KOSTAL_HOST=192.168.178.10
KOSTAL_PROTOCOL=http
KOSTAL_PORT=80
KOSTAL_INTERVAL=10

INFLUX_SCHEMA=http
INFLUX_HOST=localhost
INFLUX_PORT=8086
INFLUX_TOKEN=replace_me
INFLUX_ORG=replace_me
INFLUX_BUCKET=replace_me
INFLUX_MEASUREMENT_KOSTAL=KOSTAL
